tr:nth-child(even) > td:nth-child(even){
	background-color: brown;
}

tr:nth-child(odd) > td:nth-child(odd)  {
    background-color: brown;
}

.chessTable{
	border: 1px solid black;
	padding: 1px;
	border-spacing: 1px;
	height: 700px;
	width: 700px;
}

.chessPiece{
	height: 60px;
	width: 60px;
}

table.chessTable td {
	border: 1px solid black;
	height: 70px;
	width: 70px;
	text-align:center;
}

.selected{
	background-color: yellow !important;
}
